img {
    width: 15%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    position: center;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

footer > span {
    opacity: 0.5;
}

footer > span > a {
    text-decoration: none;
}