@import "https://fonts.googleapis.com/css?family=Poppins";
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s;
    color: #2c405e;
}
button {
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #2b7cf5;
    color: lightblue;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
button:focus {
    outline-style: none;
}


nav {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    overflow: hidden;
    background-color: #0594ec;
    
}

nav p {
    /* color: #0594ec; */
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: italic;
}

.burger {
    border: 0;
    background-color: transparent;
    color: #0594ec;
    font-size: 20px;
    display: none;
}

.burger:focus {
    outline: none;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    /* color: #2c405e; */
    color: inherit;
    position: relative;
}

nav ul li a::after {
    content: "";
    background-color:inherit;
    position: absolute;
    left: 0;
    bottom: -18px;
    height: 2px;
    width: 100%;
    opacity: 0;
    transition: transform 0.2s ease;
}

nav ul li a:hover::after {
    transform: translateY(-15px);
    opacity: 1;
}

img {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

footer {
    height: 50px; /* the footer's total height */
  }
  