html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s;
    color: #2c405e;
}

img {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

footer > span {
    opacity: 0.5;
}

footer > span > a {
    text-decoration: none;
}

ul {
    background: #3399ff;
    padding: 20px;
  }
  
ul li {
    background: #cce5ff;
    margin: 5px;
}